
{% extends "site_template.html" %}




{% block body_content %}

<style type="text/css">
.settings_content_block{}
</style>


<div class="page_headline_bar">
    <div class="container">
        <div>
            My Account
        </div>

    </div>
</div>


<div class="container discussion_page">
    <div style="text-align:center;">

        <div class="row settings_panel">
            <div class="col l6 m9 s12">
                <h3>Change my password</h3>
                <div class="settings_content_block">
                    <div class="settings_content_block_inner">

                        {{ hongcoin_editpw_error|safe }}

                    <form method="post">
                        <div class="entry">
                            <div>Current Password</div>
                            <input type="password" name="current_password" />

                        </div>
                        <div class="entry">
                            <div>New Password</div>
                            <input type="password" id="new_password" name="new_password" />

                        </div>
                        <div class="entry">
                            <div>Repeat New Password</div>
                            <input type="password" id="new_password_repeat" name="new_password_repeat" />

                        </div>

                        <input type="submit" class="waves-effect waves-light btn orange accent-3 change_pw_button" value="Change my password" />
                    </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

{% endblock %}



{% block body_footerscript_content %}

<script type="text/javascript">
$("form").on("submit", function(e){

    if($("#new_password").val() != $("#new_password_repeat").val()){
        e.preventDefault();
        alert("Please re-enter the same password.")
        return;
    }

    if($("#new_password").val().length < 6){
        e.preventDefault();
        alert("Please choose a password with more than 6 characters.");
        return;
    }

});

</script>
{% endblock %}

