
{% extends "site_template.html" %}


{% block body_content %}
<div class="page_headline_bar">
    <div class="container">
        <div>
            Token Holder Portal
        </div>

    </div>
</div>

    <div class="container" style="min-height:400px;">

        <ul >
            <a href="/signin" class="waves-effect waves-light btn orange accent-3" >Sign In</a>
            <a href="/signup" class="waves-effect waves-light btn orange accent-3" >Sign Up</a>
        </ul>

    </div>

{% endblock %}
