
# Copy this file to config.py and edit the values based on your database configuration

import os
import logging

API_SERVER_HOSTNAME = ""  # SERVER_IP_ADDRESS OR SERVER_HOSTNAME
RECAPTCHA_SECRET = ""
RECAPTCHA_VERIFY_HOST = ""

CONFIG = {}
CONFIG['webapp2_extras.sessions'] = {
    'secret_key': 'my-super-secret-key',
}

MYSQL_DB_CONFIG_APP_ENGINE = {
    'unix_socket': '',
    'unix_user': 'root',
    'unix_password': '',
    'host': '127.0.0.1',
    'port': 3306,
    'user': 'root',
    'password': '',
    'database': 'hongcoin',
    'charset': 'utf8',
}

MYSQL_DB_CONFIG_LOCALHOST = {
    'unix_socket': '',
    'unix_user': 'root',
    'unix_password': '',
    'host': '127.0.0.1',
    'port': 3306,
    'user': 'root',
    'password': '',
    'database': 'hongcoin',
    'charset': 'utf8',
}


DEV_APP_ID = "s~xxxx"


def _is_staging_env():
    if os.environ["APPLICATION_ID"] == DEV_APP_ID:
        return True


if os.getenv('SERVER_SOFTWARE', '').startswith('Google App Engine/'):
    _db_config = MYSQL_DB_CONFIG_APP_ENGINE
    if _is_staging_env():
        logging.info("Using localhost config for staging environment")
        _db_config = MYSQL_DB_CONFIG_LOCALHOST

else:
    _db_config = MYSQL_DB_CONFIG_LOCALHOST
